%select{ :name => 'search-fields[]', :id => 'search-field' }
  %option{:value => 'user.email'}      Email
  %option{:value => 'user.first_name'} First Name
  %option{:value => 'user.last_name'}  Last Name
  %option{:value => 'status'}          Status Code
  %option{:value => 'request_uri'}     Request URI

