#stats
  #refresh-link
    %a{:href => '/stats.json', :id => 'refresh-stats'} 
      %img{:src => '/images/arrow_refresh.png', :alt => 'Refresh Stats'}
    %img{:src => '/images/ajax-loader.gif', :alt => 'Loading...', :class => 'no-show ajax-loader'}
  #graph
